In [66]:
import pandas as pd
import math
data = pd.read_csv('./data/lsd_math_score_data.csv')

In [67]:
math.pi

3.141592653589793

In [68]:
data

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score
0                      5     1.17                78.93
1                     15     2.97                58.20
2                     30     3.26                67.47
3                     60     4.69                37.47
4                    120     5.83                45.65
5                    240     6.00                32.92
6                    480     6.41                29.97

In [69]:
type(data)

pandas.core.frame.DataFrame

In [70]:
only_math_scores = data['Avg_Math_Test_Score']
only_math_scores

0    78.93
1    58.20
2    67.47
3    37.47
4    45.65
5    32.92
6    29.97
Name: Avg_Math_Test_Score, dtype: float64

In [71]:
type(only_math_scores)

pandas.core.series.Series

In [72]:
# Add Column
data['new_column'] = 'Default value'
data

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score     new_column
0                      5     1.17                78.93  Default value
1                     15     2.97                58.20  Default value
2                     30     3.26                67.47  Default value
3                     60     4.69                37.47  Default value
4                    120     5.83                45.65  Default value
5                    240     6.00                32.92  Default value
6                    480     6.41                29.97  Default value

In [73]:
data['high_score'] = 100 + data['Avg_Math_Test_Score']
data

,Time_Delay_in_Minutes,LSD_ppm,Avg_Math_Test_Score,new_column,high_score
0,5,1.17,78.93,Default value,178.93
1,15,2.97,58.20,Default value,158.20
2,30,3.26,67.47,Default value,167.47
3,60,4.69,37.47,Default value,137.47
4,120,5.83,45.65,Default value,145.65
5,240,6.00,32.92,Default value,132.92
6,480,6.41,29.97,Default value,129.97

In [74]:
clean_data = data[['LSD_ppm', 'Avg_Math_Test_Score']]
clean_data

   LSD_ppm  Avg_Math_Test_Score
0     1.17                78.93
1     2.97                58.20
2     3.26                67.47
3     4.69                37.47
4     5.83                45.65
5     6.00                32.92
6     6.41                29.97

In [75]:
# Dataframe from one column
y = data[['Avg_Math_Test_Score']]
type(y)

pandas.core.frame.DataFrame

In [76]:
# Add Column
data['test_subject'] = "Jennifer Lopez"
data

,Time_Delay_in_Minutes,LSD_ppm,Avg_Math_Test_Score,new_column,high_score,test_subject
0,5,1.17,78.93,Default value,178.93,Jennifer Lopez
1,15,2.97,58.20,Default value,158.20,Jennifer Lopez
2,30,3.26,67.47,Default value,167.47,Jennifer Lopez
3,60,4.69,37.47,Default value,137.47,Jennifer Lopez
4,120,5.83,45.65,Default value,145.65,Jennifer Lopez
5,240,6.00,32.92,Default value,132.92,Jennifer Lopez
6,480,6.41,29.97,Default value,129.97,Jennifer Lopez

In [77]:
# Delete Column
del data['test_subject']
data

,Time_Delay_in_Minutes,LSD_ppm,Avg_Math_Test_Score,new_column,high_score
0,5,1.17,78.93,Default value,178.93
1,15,2.97,58.20,Default value,158.20
2,30,3.26,67.47,Default value,167.47
3,60,4.69,37.47,Default value,137.47
4,120,5.83,45.65,Default value,145.65
5,240,6.00,32.92,Default value,132.92
6,480,6.41,29.97,Default value,129.97

In [78]:
import life
print(life.the_answer)
print(type(life))

42
<class 'module'>